body, html {
    height: 100%;
    margin: 0;
    background-color: #F5F5F5;
}

body{
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}

header{
    top: 0;
    width: 100%;
    position: fixed;
    float: left;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 16, 83);
    height: 7%;
}

header nav a{
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: unset;
}

header nav a:hover{
    background-color: white;
    color: black;
}

#header-web-title{
    color: white;
    font-size: 30px;
    margin: 10px;
}

#header-logo{
    height: 40px;
    margin-right: 20px;
    margin-top: 5px;
}

#cover_photo{
    height: 100%;
    width: 100%;
    background: url("./obrazky/uvodni_fotka.jpeg") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 16, 83);
}

#cover_photo h1{
    font-size: 5em;
}

#cover_photo a{
    padding: 30px 40px;
    background-color: white;
    border-radius: 5px;
    color: #4a4a4a;
    border: 5px solid white;
    transition: 1s;
}

#cover_photo a:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}

.cela-paticka-obal, main{
    width: 960px;
    margin: 0 auto;
}

.paticka-obal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#obsah{
    min-height: 100%;
    background-size: cover;
    position: relative;
    text-align: center;
    display: inline;
    align-items: center;
    justify-content: center;
    color: black;
}

#obsah h1{
    font-size: 1.5em;
}

#obsah p{
    font-size: 1em;
    align-items: center;
    justify-content: normal;
}

.odkazy-na-socialni-site{
    align-items: center;
    justify-items: center;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    align: center;
}
.nadpis{
    text-align: center;
}

input[type=text], input[type=email], input[type=password], select {
    width: 97%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}

input[type=submit] {
    width: 100%;
    background-color: deepskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: deepskyblue;
}

.form_registrace {
    border-radius: 5px;
    background-color: lightsteelblue;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.formular{
    text-align: center;
}

.tabulka_tlacitko{
    background-color: white;
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.tabulka_tlacitko:hover{
    background-color: deepskyblue;
    color: white;
}

ul{
    list-style-type: decimal;
}
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 16, 83);
    color: #f2f2f2;
    height: 7%;
    padding: 10px;
}

footer a{
    color: white;
    text-decoration: none;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
    .left, .main, .right {
        width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}





